{% extends 'base_auth.html' %}
{% load static %}


{% block content %}

    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="card mt-5">
                <div class="card-body">
                    <div class="card-title py-3">
                        <h4>重置密码</h4>
                    </div>
                    <form action="{% url 'auth:set-newpassword' token %}" method="post">
                        {% csrf_token %}

                        {% include 'partials/_messages.html' %}

                        <div class="form-group">
                            <input type="password" name="password1" placeholder="Password"
                                   class="form-control form-control-sm" id="passwordField">
                            <small class="float-right py-3 showPasswordToggle" style="cursor: pointer">SHOW</small>
                        </div>
                        <div class="form-group">
                            <input type="password" name="password2" placeholder="Confirm Password"
                                   class="form-control form-control-sm" id="passwordField">
                            <small class="float-right py-3 showPasswordToggle" style="cursor: pointer">SHOW</small>
                        </div>
                        <input type="submit" value="提交" class="btn btn-block btn-primary submit-btn"/>
                    </form>
                    <div class="container">
                        <span style="float: left"><a href="{% url 'auth:login' %}">账号登录?</a></span>
                        <span style="float: right"><a href="{% url 'auth:register' %}">没有账号?</a></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
    <script src="{% static 'js/register.js' %}"></script>
{% endblock content %}
